/* Styling for Steps 1-4 */ 
#raw_thumbnails .row {
  margin-left: 0px;
  margin-right: 0px;
}
#raw_thumbnails .col-sm-3,
#feature_expr .col-sm-3 {
  padding-left: 0px;
  padding-right: 0px;
}
#raw_thumbnails h6 {
  margin-bottom: 3px;
}
#feature_expr .row {
  padding-left: 15px; 
}
#tissue-reg-cartoon {
  max-width: 68%;
}
#cell-reg-cartoon {
  max-width: 80%;
}
#tiled img {
  aspect-ratio: 1/1;
  max-width: 83%; /* to match tissue detection fig */ 
}
.stardist img {
  max-width: 83%;
}
#cluster_legend {
  max-width: 45%;
}
